{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

{{ wtf.quick_form(form) }}

<br>
<h2>Relação de alunos cadastrados</h2>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>Aluno</th>
            <th>Disciplina</th>
        </tr>
    </thead>
    <tbody>
        {% for aluno in lista_alunos %}
        <tr>
            <td>{{ aluno.nome }}</td>
            <td>{{ aluno.disciplina }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}